<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestRESTAssured" >
  
  <test name="REST API" >
  
   <!--  <parameter name=”userName” value=”Selenium”/>
    <parameter name=”password” value=”Selenium@”/> -->
    
    <classes>
       <class name="rest.basic.testing.ResponseValidation" />
    </classes>
  </test>
</suite>